body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
    background: #ccc;
    height: 2000px;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    vertical-align: middle;
}


/*顶部*/

.app {
    height: 45px;
    width: 100%;
}

.app ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}


/*搜索框*/

.search-wrap {
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    overflow: hidden;
    height: 44px;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 40px;
}

.search-btn::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    width: 20px;
    height: 18px;
    background: url("../img/s-btn.png") no-repeat;
    -webkit-background-size: 20px 18px;
    background-size: 20px 18px;
}

.search-login {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 40px;
    text-align: center;
    color: #fff;
    line-height: 44px;
}

.search {
    position: relative;
    height: 30px;
    margin: 7px 50px;
    background-color: #fff;
    border-radius: 15px;
}

.jd-icon {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 20px;
    height: 15px;
    background: url("../img/jd.png") no-repeat;
    -webkit-background-size: 20px 15px;
    background-size: 20px 15px;
}

.search ::after {
    content: "";
    left: 23px;
    position: absolute;
    width: 1px;
    height: 15px;
    background: #ccc;
}

.sou {
    position: absolute;
    top: 8px;
    left: 45px;
    width: 18px;
    height: 15px;
    background: url("../img/jd-sprites.png") -81px 0;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
}

.slider img {
    width: 100%;
}

.banner {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.banner div {
    float: left;
    width: 33.33%;
}

.banner div img {
    width: 100%;
}


/*nav*/

.nav {
    margin-top: 10px;
    text-align: center;
}

.nav a {
    float: left;
    width: 20%;
}

.nav a img {
    width: 40px;
}


/* news */

.news {
    margin-top: 20px;
}

.news a {
    float: left;
    box-sizing: border-box;
}

.news a:nth-child(1) {
    width: 50%;
}

.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px #ccc solid;
}

.news img {
    width: 100%;
}