.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    overflow: hidden;
    position: relative;
    width: 721px;
    height: 455px;
    background: #e33333;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow_l,
.arrow_r {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    /* rgba(0, 0, 0, .3); */
    text-align: center;
    line-height: 40px;
    color: #fff;
    z-index: 99999;
}

.arrow_r {
    right: 0px;
}

.circle,
.circle1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.circle li,
.circle1 li {
    float: left;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    /* background: #fff;*/
    border: solid 2px rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
}

.current {
    background: #fff;
}

.newsflash {
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #ccc;
}

.news_hd {
    height: 33px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    line-height: 33px;
}

.news_hd a {
    float: right;
    font-size: 12px;
}

.news_bd {
    padding: 10px 0 0 15px;
}

.news_bd li {
    height: 23px;
}

.lifeserve {
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: none;
    height: 210px;
}

.lifeserve ul {
    width: 252px;
}

.lifeserve li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.lifeserve li a {
    display: block;
    height: 100%;
    /*解决外边距塌陷问题*/
    overflow: hidden;
}

.service_icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icons.png) no-repeat;
    margin: 10px auto;
}

.service_icon_huafei {
    background-position: -17px -15px;
}

.service_icon_feiji {
    width: 26px;
    background-position: -77px -15px;
}

.hot {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    background: url(../img/hot.jpg);
}

.lifeserve p {
    text-align: center;
}

.bargin {
    position: relative;
    height: 75px;
}

.bargin img {
    position: absolute;
}


/*recommend start*/

.recommend {
    margin-top: 10px;
    height: 162px;
}

.recommend-hd {
    height: 162px;
    width: 200px;
    background: #5c5251;
    text-align: center;
}

.recommend-hd img {
    margin: 30px 0 10px 0;
}

.recommend-hd h3 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.recommend-bd {
    height: 162px;
    width: 1000px;
    background: #ebebeb;
}

.recommend-bd li {
    float: left;
    width: 249px;
    height: 145px;
    border-right: 1px solid #ccc;
}

.recommend-bd .last {
    border: none;
}


/*floor模块*/

.box-hd {
    height: 28px;
    border-bottom: 2px solid #c81623;
    margin-top: 30px;
}

.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}

.tab-list {
    float: right;
    line-height: 28px;
}

.tab-list li {
    float: left;
}

.tab-list a {
    margin: 0 15px;
}

.box-bd {
    height: 360px;
}

.w210 {
    width: 210px;
    background: #f9f9f9;
}

.w330 {
    position: relative;
    width: 330px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.tab-con li {
    float: left;
}

.tab-con-list {
    overflow: hidden;
    margin-bottom: 26px;
}

.tab-con-list li {
    width: 88px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-left: 11px;
}

.fixedtool {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
}

.fixedtool li {
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.fixedtool .current {
    background: #c81623;
    color: #fff;
}